


main {

    display: block;
    position: relative;
    width: 100%;
}


.productCellContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

.productCell {

    width: 110px;
    border: 1px dotted gray;
    text-align: center;
    padding: 5px;
}


.productCellId {

    font-size: 22px;
    font-weight: bold;
    
}