


main {

    display: block;
    position: relative;
    width: 100%;

}

#optionTable {
    padding-bottom: 40px;
}

.productCellContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    padding-bottom: 20px;
    page-break-inside: auto;

}

.productCell {

    width: 170px;
    height: 60px;
    border: 1px dotted gray;
    text-align: center;
    padding: 5px;
    page-break-inside: avoid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.productCellId {

    font-size: 21px;
    font-weight: bold;
    
}

.htmlError {

    color: red;
}

#printIdQuery {

    font-size: 22px;
}

#printIdQuery input {

    font-size: 22px;
}
